[submodule "vendor/ldrobot-d500-ros2"]
	path = vendor/ldrobot-d500-ros2
	url = git@github.com:N-rwal/ldrobot-d500-ros2.git
[submodule "vendor/micro_ros_agent"]
	path = vendor/micro_ros_agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = jazzy
[submodule "vendor/ardupilot"]
	path = vendor/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
	branch = master
